## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [2]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [3]:
# Your code here
sample_list_1 = random.sample(range(101),80) 

print(sample_list_1)

[9, 58, 13, 39, 64, 76, 0, 77, 57, 19, 32, 78, 20, 72, 56, 86, 36, 5, 37, 63, 80, 34, 18, 85, 49, 84, 98, 54, 48, 21, 55, 51, 50, 40, 14, 79, 96, 26, 94, 44, 99, 35, 27, 7, 53, 3, 43, 1, 60, 87, 24, 11, 2, 10, 42, 70, 93, 65, 31, 17, 15, 8, 83, 66, 4, 52, 46, 71, 47, 91, 22, 73, 68, 97, 89, 82, 62, 16, 29, 28]

In [4]:
# esto es para comprobar visualmente la lista de números que tenemos y las frequencias de cada número.
# sólo hay frequencias con 0s y 1s, no hay repetidos.
for i in range(101) :
    print(i, sample_list_1.count(i))

0 1
1 1
2 1
3 1
4 1
5 1
6 0
7 1
8 1
9 1
10 1
11 1
12 0
13 1
14 1
15 1
16 1
17 1
18 1
19 1
20 1
21 1
22 1
23 0
24 1
25 0
26 1
27 1
28 1
29 1
30 0
31 1
32 1
33 0
34 1
35 1
36 1
37 1
38 0
39 1
40 1
41 0
42 1
43 1
44 1
45 0
46 1
47 1
48 1
49 1
50 1
51 1
52 1
53 1
54 1
55 1
56 1
57 1
58 1
59 0
60 1
61 0
62 1
63 1
64 1
65 1
66 1
67 0
68 1
69 0
70 1
71 1
72 1
73 1
74 0
75 0
76 1
77 1
78 1
79 1
80 1
81 0
82 1
83 1
84 1
85 1
86 1
87 1
88 0
89 1
90 0
91 1
92 0
93 1
94 1
95 0
96 1
97 1
98 1
99 1
100 0

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [5]:
type(sample_list_1)

list

In [6]:
set1 = set(sample_list_1)
type(set1)

set

In [7]:
# esto es para ver las diferencias entre set1 y sample_list_1
print("set1 is:")
print(set1)
print("\n")
print("sample_list_1 is:")
print(sample_list_1)

set1 is:
{0, 1, 2, 3, 4, 5, 7, 8, 9, 10, 11, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 24, 26, 27, 28, 29, 31, 32, 34, 35, 36, 37, 39, 40, 42, 43, 44, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 60, 62, 63, 64, 65, 66, 68, 70, 71, 72, 73, 76, 77, 78, 79, 80, 82, 83, 84, 85, 86, 87, 89, 91, 93, 94, 96, 97, 98, 99}


sample_list_1 is:
[9, 58, 13, 39, 64, 76, 0, 77, 57, 19, 32, 78, 20, 72, 56, 86, 36, 5, 37, 63, 80, 34, 18, 85, 49, 84, 98, 54, 48, 21, 55, 51, 50, 40, 14, 79, 96, 26, 94, 44, 99, 35, 27, 7, 53, 3, 43, 1, 60, 87, 24, 11, 2, 10, 42, 70, 93, 65, 31, 17, 15, 8, 83, 66, 4, 52, 46, 71, 47, 91, 22, 73, 68, 97, 89, 82, 62, 16, 29, 28]

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [8]:
sample_list_2 = []
for i in range(80) :
    sample_list_2.extend(random.sample(range(101),1))

In [9]:
# esto es para comprobar visualmente la lista de números que tenemos y las frequencias de cada número.
# sólo hay frequencias con 0s, 1s, 2s, 3s y hasta 4s (número 98) --> sí hay repetidos.

for i in range(101) :
    print(i, sample_list_2.count(i))
print("\n")
print ("la longitud de la lista es ", len(sample_list_2))

0 0
1 0
2 1
3 2
4 2
5 1
6 2
7 2
8 1
9 1
10 0
11 2
12 0
13 0
14 0
15 1
16 1
17 1
18 1
19 2
20 0
21 1
22 0
23 0
24 1
25 0
26 1
27 0
28 1
29 0
30 1
31 1
32 1
33 0
34 0
35 0
36 2
37 1
38 2
39 1
40 0
41 1
42 1
43 1
44 1
45 1
46 2
47 1
48 2
49 2
50 0
51 1
52 1
53 2
54 0
55 0
56 1
57 1
58 0
59 2
60 1
61 0
62 0
63 2
64 0
65 1
66 1
67 1
68 0
69 0
70 0
71 1
72 1
73 1
74 0
75 0
76 1
77 2
78 1
79 1
80 0
81 0
82 0
83 0
84 2
85 0
86 0
87 2
88 2
89 2
90 1
91 0
92 0
93 1
94 0
95 1
96 0
97 1
98 1
99 0
100 0


la longitud de la lista es  80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [10]:
set2 = set(sample_list_2)

In [11]:
# esto es para comprobar visualmente la lista de números que tenemos.
# para los sets no funciona el método .count, por tanto sólo pongo si ese número está en el set.

for i in range(101) :
    
    print(i, i in set2)
print("\n")
print ("la longitud de la lista en forma de set es ", len(set2))

0 False
1 False
2 True
3 True
4 True
5 True
6 True
7 True
8 True
9 True
10 False
11 True
12 False
13 False
14 False
15 True
16 True
17 True
18 True
19 True
20 False
21 True
22 False
23 False
24 True
25 False
26 True
27 False
28 True
29 False
30 True
31 True
32 True
33 False
34 False
35 False
36 True
37 True
38 True
39 True
40 False
41 True
42 True
43 True
44 True
45 True
46 True
47 True
48 True
49 True
50 False
51 True
52 True
53 True
54 False
55 False
56 True
57 True
58 False
59 True
60 True
61 False
62 False
63 True
64 False
65 True
66 True
67 True
68 False
69 False
70 False
71 True
72 True
73 True
74 False
75 False
76 True
77 True
78 True
79 True
80 False
81 False
82 False
83 False
84 True
85 False
86 False
87 True
88 True
89 True
90 True
91 False
92 False
93 True
94 False
95 True
96 False
97 True
98 True
99 False
100 False


la longitud de la lista en forma de set es  61

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [12]:
set3 = set1.difference(set2)
len(set3)

29

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [13]:
set4 = set2.difference(set1)
set4

{6, 30, 38, 41, 45, 59, 67, 88, 90, 95}

In [14]:
len(set4)

10

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [15]:
set5 = set1.intersection(set2)
len(set5)

51

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

len(set1) - len(set3) = len(set2) - len(set4) = len(set5)

In [16]:
print(len(set1))
print(len(set2))
print(len(set3))
print(len(set4))
print(len(set5))

print (len(set1) ,"-", len(set3),"=",len(set5), " " , len(set1) - len(set3) == len(set5))
print (len(set2) ,"-", len(set4),"=",len(set5), " " , len(set2) - len(set4) == len(set5))

80
61
29
10
51
80 - 29 = 51   True
61 - 10 = 51   True

#### Create an empty set called `set6`.

In [17]:
set6 = {()}
set6.clear()
print(set6)
type(set6)

set()

set

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [18]:
set6.update(set3)
set6.update(set5)

print(set6)

{0, 1, 2, 3, 4, 5, 7, 8, 9, 10, 11, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 24, 26, 27, 28, 29, 31, 32, 34, 35, 36, 37, 39, 40, 42, 43, 44, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 60, 62, 63, 64, 65, 66, 68, 70, 71, 72, 73, 76, 77, 78, 79, 80, 82, 83, 84, 85, 86, 87, 89, 91, 93, 94, 96, 97, 98, 99}

#### Check if `set1` and `set6` are equal.

In [19]:
set1 == set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [20]:
set2.issubset(set1)

False

In [21]:
set3.issubset(set1)

True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [22]:
set3.union(set4).union(set5) == set1.union(set2)

True

#### Using the `pop` method, remove the first element from `set1`.

In [23]:
set1.pop()
print(set1)

{1, 2, 3, 4, 5, 7, 8, 9, 10, 11, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 24, 26, 27, 28, 29, 31, 32, 34, 35, 36, 37, 39, 40, 42, 43, 44, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 60, 62, 63, 64, 65, 66, 68, 70, 71, 72, 73, 76, 77, 78, 79, 80, 82, 83, 84, 85, 86, 87, 89, 91, 93, 94, 96, 97, 98, 99}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [24]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
for i in list_to_remove :
    if i in set1 :
        set1.remove(i)
print(set1)

{2, 3, 4, 5, 7, 8, 10, 13, 14, 15, 16, 17, 18, 20, 22, 24, 26, 27, 28, 32, 34, 35, 36, 37, 40, 42, 43, 44, 46, 47, 48, 50, 52, 53, 54, 55, 56, 57, 58, 60, 62, 63, 64, 65, 66, 68, 70, 72, 73, 76, 77, 78, 80, 82, 83, 84, 85, 86, 87, 93, 94, 96, 97, 98}