## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [ ]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [3]:
# Your code here
import random
'''sample_list_1=[1]
list(sample_list_1)
print(len(sample_list_1),type(sample_list_1))

for i in range(0,79):
    sample_list_1.append(random.randint(0,100))
    for x in range sample_list_1():
        if sample_list_1[i] == sample_list_1[x]:
            sample_list_1[i] = random.randint(0,100)

len(sample_list_1)

print(sample_list_1, type(sample_list_1))'''

sample_list_1=random.sample(range(100),k=80)
print(sample_list_1, type(sample_list_1))

[17, 21, 86, 60, 88, 2, 30, 53, 67, 18, 16, 66, 71, 35, 78, 1, 95, 97, 25, 45, 47, 7, 76, 11, 34, 94, 79, 63, 6, 84, 75, 81, 9, 36, 92, 5, 43, 15, 77, 13, 82, 54, 61, 83, 19, 28, 50, 8, 0, 52, 39, 12, 64, 24, 55, 41, 29, 20, 40, 80, 62, 89, 65, 37, 26, 23, 93, 96, 74, 57, 59, 85, 90, 44, 70, 73, 32, 69, 68, 31] <class 'list'>

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [24]:
# Your code here
type(sample_list_1)
#set1 = set(sample_list_1) #No se por qué pero se piensa que hay un tuple en esta linea y me da error :(
set1 = {19, 33, 79, 36, 37, 8, 76, 35, 13, 53, 51, 75, 93, 22, 4, 82, 52, 9, 60, 2, 14, 54, 58, 12, 17, 21, 28, 99, 11, 73, 26, 27, 47, 34, 70, 67, 69, 87, 65, 20, 30, 71, 84, 49, 31, 7, 46, 90, 56, 94, 1, 41, 16, 85, 74, 43, 24, 50, 39, 44, 40, 62, 6, 3, 61, 86, 92, 81, 42, 78, 89, 5, 15, 59, 77, 83, 97, 68, 98, 18}
print(len(set1),set1)

80 {1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 24, 26, 27, 28, 30, 31, 33, 34, 35, 36, 37, 39, 40, 41, 42, 43, 44, 46, 47, 49, 50, 51, 52, 53, 54, 56, 58, 59, 60, 61, 62, 65, 67, 68, 69, 70, 71, 73, 74, 75, 76, 77, 78, 79, 81, 82, 83, 84, 85, 86, 87, 89, 90, 92, 93, 94, 97, 98, 99}

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [25]:
# Your code here
import random
sample_list_2=[]
list(sample_list_2)
print(len(sample_list_2),type(sample_list_2))

for i in range(0,80):
    sample_list_2.append(random.randint(0,100))
    
len(sample_list_2)

print(sample_list_2, len(set2))

0 <class 'list'>
[38, 22, 59, 75, 56, 36, 1, 1, 87, 44, 24, 21, 100, 31, 87, 22, 95, 37, 46, 42, 98, 39, 60, 27, 4, 46, 4, 50, 9, 1, 31, 95, 66, 19, 55, 13, 64, 34, 82, 21, 74, 78, 93, 76, 68, 28, 59, 68, 55, 99, 43, 67, 100, 45, 94, 78, 42, 92, 86, 79, 69, 81, 92, 47, 20, 96, 99, 52, 27, 63, 37, 51, 50, 95, 94, 6, 72, 57, 98, 84] 51

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [12]:
# Your code here

set2 = set(sample_list_2)

print(set2, len(set2))

{0, 1, 2, 3, 5, 6, 7, 8, 9, 12, 14, 15, 16, 18, 21, 27, 29, 30, 31, 32, 35, 36, 37, 40, 44, 49, 51, 52, 54, 56, 60, 63, 67, 69, 74, 76, 77, 79, 80, 81, 83, 88, 89, 92, 93, 95, 96, 97, 98, 99, 100} 51

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [26]:
# Your code here

set3 = set1.difference(set2)

print(set3, len(set3))

{4, 11, 13, 17, 19, 20, 22, 24, 26, 28, 33, 34, 39, 41, 42, 43, 46, 47, 50, 53, 58, 59, 61, 62, 65, 68, 70, 71, 73, 75, 78, 82, 84, 85, 86, 87, 90, 94} 38

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [27]:
# Your code here

set4 = set2.difference(set1)
print(set4, len(set4))

{0, 32, 96, 100, 80, 88, 29, 95, 63} 9

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [28]:
# Your code here

set5 = set1.intersection(set2)

print(set5, len(set5))

{1, 2, 3, 5, 6, 7, 8, 9, 12, 14, 15, 16, 18, 21, 27, 30, 31, 35, 36, 37, 40, 44, 49, 51, 52, 54, 56, 60, 67, 69, 74, 76, 77, 79, 81, 83, 89, 92, 93, 97, 98, 99} 42

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [ ]:
# Your code here

len(set1)

#### Create an empty set called `set6`.

In [18]:
# Your code here
set6 = {()}

print(type(set6))

<class 'set'>

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [19]:
# Your code here

set6.update(set3)
set6.update(set5)

print(set6)

{4, 11, 13, 17, 19, 20, 22, 24, 26, 28, 33, 34, 39, 41, 42, 43, 46, 47, 50, 53, 58, 59, 61, 62, 65, 68, 70, 71, 73, 75, 78, 82, 84, 85, 86, 87, 90, 94, ()}

#### Check if `set1` and `set6` are equal.

In [20]:
# Your code here
comparación = set1.difference(set6)

if comparación == 0:
    print('set1 y set 6 son iguales')
else:
    print('set1 y set 6 no son iguales')

set1 y set 6 no son iguales

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [23]:
# Your code here
a=set2.issubset(set1)
print('Set1 contiene a set2: ', a)
b=set3.issubset(set1)
print('Set1 contiene a set3: ', b)

Set1 contiene a set2:  False
Set1 contiene a set3:  True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [31]:
# Your code here
set7 = set3.union(set4).union(set5)

set8 = set1.union(set2)

diferencia = set7.difference(set8)
print(set7, set8, diferencia)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 24, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 39, 40, 41, 42, 43, 44, 46, 47, 49, 50, 51, 52, 53, 54, 56, 58, 59, 60, 61, 62, 63, 65, 67, 68, 69, 70, 71, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 92, 93, 94, 95, 96, 97, 98, 99, 100} {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 24, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 39, 40, 41, 42, 43, 44, 46, 47, 49, 50, 51, 52, 53, 54, 56, 58, 59, 60, 61, 62, 63, 65, 67, 68, 69, 70, 71, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 92, 93, 94, 95, 96, 97, 98, 99, 100} set()

#### Using the `pop` method, remove the first element from `set1`.

In [35]:
# Your code here
list1 = list(set1)

primer_elemento=list1.pop(0)

set1 = set(list1)

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [37]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

for i in list_to_remove:
    if i in set1:
        set1.remove(i)

print(set1)

{3, 4, 5, 6, 7, 8, 12, 13, 14, 15, 16, 17, 18, 20, 22, 24, 26, 27, 28, 30, 33, 34, 35, 36, 37, 40, 42, 43, 44, 46, 47, 50, 52, 53, 54, 56, 58, 60, 62, 65, 67, 68, 70, 73, 74, 75, 76, 77, 78, 82, 83, 84, 85, 86, 87, 90, 92, 93, 94, 97, 98}