## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [2]:
# Your code here
sample_list_1 = random.sample(range(0,100),80)
print(sample_list_1)

[72, 67, 47, 11, 33, 89, 22, 73, 98, 50, 41, 52, 4, 79, 46, 23, 20, 93, 39, 90, 86, 88, 62, 70, 3, 64, 26, 61, 6, 44, 28, 80, 58, 14, 2, 37, 5, 74, 18, 92, 35, 49, 21, 24, 16, 25, 77, 34, 59, 95, 57, 45, 63, 32, 40, 91, 75, 85, 43, 65, 94, 56, 71, 76, 10, 99, 54, 27, 82, 78, 29, 42, 96, 30, 81, 38, 53, 36, 17, 15]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [3]:
set1 = set(sample_list_1)

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [4]:
sample_list_2 = []
for i in range(0,80):
    sample_list_2.append(random.randrange(0,100))
print(sample_list_2)

[58, 29, 24, 96, 22, 11, 95, 92, 0, 70, 11, 75, 93, 77, 31, 12, 79, 27, 51, 14, 61, 64, 2, 35, 89, 55, 65, 7, 47, 2, 22, 3, 31, 12, 44, 30, 33, 52, 8, 44, 75, 1, 95, 68, 29, 78, 48, 7, 95, 3, 25, 37, 12, 25, 32, 83, 78, 91, 32, 59, 88, 85, 7, 94, 40, 65, 52, 40, 84, 79, 78, 54, 42, 22, 74, 64, 51, 46, 72, 52]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [5]:
set2 = set(sample_list_2)
print(set2)
print(len(set2)) #the length of set2 is not 80 anymore

{0, 1, 2, 3, 7, 8, 11, 12, 14, 22, 24, 25, 27, 29, 30, 31, 32, 33, 35, 37, 40, 42, 44, 46, 47, 48, 51, 52, 54, 55, 58, 59, 61, 64, 65, 68, 70, 72, 74, 75, 77, 78, 79, 83, 84, 85, 88, 89, 91, 92, 93, 94, 95, 96}
54

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [6]:
set3 = set1.difference(set2)
print(set3)

{4, 5, 6, 10, 15, 16, 17, 18, 20, 21, 23, 26, 28, 34, 36, 38, 39, 41, 43, 45, 49, 50, 53, 56, 57, 62, 63, 67, 71, 73, 76, 80, 81, 82, 86, 90, 98, 99}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [7]:
set4 = set2.difference(set1)
print(set4)

{0, 1, 68, 7, 8, 12, 48, 51, 83, 84, 55, 31}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [8]:
set5 = set1.intersection(set2)
print(set5)

{2, 3, 11, 14, 22, 24, 25, 27, 29, 30, 32, 33, 35, 37, 40, 42, 44, 46, 47, 52, 54, 58, 59, 61, 64, 65, 70, 72, 74, 75, 77, 78, 79, 85, 88, 89, 91, 92, 93, 94, 95, 96}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [9]:
a = len(set1) #80
b = len(set2) #62
c = len(set3) #32
d = len(set4) #14
e = len(set5) #48

b == d+e #true
e == a-c #true
b == d + (a-c)

True

In [10]:
listalen = [len(set1),len(set2),len(set3),len(set4),len(set5)]
print(listalen)

[80, 54, 38, 12, 42]

#### Create an empty set called `set6`.

In [11]:
set6 = set()
type(set6)

set

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [12]:
set6.update(set3.union(set5))
print(set6)

{2, 3, 4, 5, 6, 10, 11, 14, 15, 16, 17, 18, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 49, 50, 52, 53, 54, 56, 57, 58, 59, 61, 62, 63, 64, 65, 67, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 85, 86, 88, 89, 90, 91, 92, 93, 94, 95, 96, 98, 99}

#### Check if `set1` and `set6` are equal.

In [13]:
if set1 == set6:
    print("wiiiiiiii, set1 and set6 are equal")
else:
    print("check your code, perri")

wiiiiiiii, set1 and set6 are equal

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [14]:
set2.issubset(set1) #set1 doesn't contains set2
set3.issubset(set1) #set contains set3

True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [15]:
setunion345 = set3.union(set4).union(set5)

setunion12 = set1.union(set2)

if setunion345 == setunion12:
    print("yesssss, the aggregated values are equal")
else:
    print("you have to do it again")

yesssss, the aggregated values are equal

#### Using the `pop` method, remove the first element from `set1`.

In [18]:
set1.pop()

2

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [23]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

for item in list_to_remove:
    if item in set1:
        set1.remove(item)
print(set1)

{3, 4, 5, 6, 10, 14, 15, 16, 17, 18, 20, 22, 23, 24, 25, 26, 27, 28, 30, 32, 33, 34, 35, 36, 37, 38, 40, 42, 43, 44, 45, 46, 47, 50, 52, 53, 54, 56, 57, 58, 62, 63, 64, 65, 67, 70, 72, 73, 74, 75, 76, 77, 78, 80, 82, 85, 86, 88, 90, 92, 93, 94, 95, 96, 98}