## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [7]:
sample_list_1 = random.sample(range(0,100),80)

print (sample_list_1)

[16, 55, 38, 7, 90, 35, 63, 99, 72, 42, 46, 80, 78, 6, 3, 53, 48, 34, 49, 58, 52, 43, 13, 4, 1, 85, 76, 79, 60, 18, 19, 40, 68, 89, 21, 69, 57, 97, 12, 50, 23, 61, 24, 84, 59, 29, 98, 93, 9, 65, 70, 87, 77, 26, 91, 47, 10, 71, 73, 92, 54, 0, 28, 64, 82, 75, 41, 36, 62, 81, 15, 22, 44, 66, 96, 74, 11, 95, 67, 30]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [10]:
set1 = sample_list_1
print (len(set1))
#Yes

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [29]:
import random
sample_list_2 = []
for i in range (1):
    sample_list_2 = random.sample(range(0,100),80)
    print(sample_list_2)

[62, 70, 87, 44, 63, 0, 48, 84, 15, 31, 77, 19, 36, 17, 98, 46, 68, 51, 2, 99, 89, 10, 4, 6, 80, 90, 13, 78, 92, 88, 59, 61, 25, 56, 23, 1, 29, 94, 45, 72, 64, 76, 5, 95, 27, 43, 97, 3, 50, 39, 7, 35, 30, 74, 22, 73, 67, 53, 65, 20, 93, 81, 26, 52, 32, 38, 40, 58, 66, 12, 34, 60, 82, 21, 41, 47, 79, 11, 49, 71]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [31]:
set2 = set(sample_list_2)
print(type(set2))
print(type(sample_list_2))

print(len(set2))

<class 'set'>
<class 'list'>
80

In [ ]:
# Your code here

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [35]:
set3 = set2.difference(set1)
print(set3)

{2, 5, 17, 20, 88, 25, 27, 94, 31, 32, 39, 45, 51, 56}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [36]:
set4 = set2.difference(set1)
print(set4)

{2, 5, 17, 20, 88, 25, 27, 94, 31, 32, 39, 45, 51, 56}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [40]:
set5 = set2.intersection(set1)
print(set5)

{0, 1, 3, 4, 6, 7, 10, 11, 12, 13, 15, 19, 21, 22, 23, 26, 29, 30, 34, 35, 36, 38, 40, 41, 43, 44, 46, 47, 48, 49, 50, 52, 53, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 70, 71, 72, 73, 74, 76, 77, 78, 79, 80, 81, 82, 84, 87, 89, 90, 92, 93, 95, 97, 98, 99}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [ ]:
# Your code here

#### Create an empty set called `set6`.

In [46]:
set6 = {()}
print(type(set6))

<class 'set'>

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [44]:
set6.update(set3,set5)
print(set6)

{0, 1, 2, 3, 4, 5, 6, 7, 10, 11, 12, 13, 15, 17, 19, 20, 21, 22, 23, 25, 26, 27, 29, 30, 31, 32, 34, 35, 36, 38, 39, 40, 41, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 56, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 70, 71, 72, 73, 74, 76, 77, 78, 79, 80, 81, 82, 84, 87, 88, 89, 90, 92, 93, 94, 95, 97, 98, 99, ()}

#### Check if `set1` and `set6` are equal.

In [47]:
if set1 == set6:
    print ("True")
else:
    print ("False")

False

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [55]:
print(set2.issubset(set2))
print(set2.issubset(set3))

True
False

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [70]:
set7 = (set3.union(set3,set4,set5))
print(set7)
print(set7.union(set2))

{0, 1, 2, 3, 4, 5, 6, 7, 10, 11, 12, 13, 15, 17, 19, 20, 21, 22, 23, 25, 26, 27, 29, 30, 31, 32, 34, 35, 36, 38, 39, 40, 41, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 56, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 70, 71, 72, 73, 74, 76, 77, 78, 79, 80, 81, 82, 84, 87, 88, 89, 90, 92, 93, 94, 95, 97, 98, 99}
{0, 1, 2, 3, 4, 5, 6, 7, 10, 11, 12, 13, 15, 17, 19, 20, 21, 22, 23, 25, 26, 27, 29, 30, 31, 32, 34, 35, 36, 38, 39, 40, 41, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 56, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 70, 71, 72, 73, 74, 76, 77, 78, 79, 80, 81, 82, 84, 87, 88, 89, 90, 92, 93, 94, 95, 97, 98, 99}

#### Using the `pop` method, remove the first element from `set1`.

In [78]:
x = set1.pop(0)
print(x)

55

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [87]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
set1 = {16, 55, 38, 7, 90, 35, 63, 99, 72, 42, 46, 80, 78, 6, 3, 53, 48, 34, 49, 58, 52, 43, 13, 4, 1, 85, 76, 79, 60, 18, 19, 40, 68, 89, 21, 69, 57, 97, 12, 50, 23, 61, 24, 84, 59, 29, 98, 93, 9, 65, 70, 87, 77, 26, 91, 47, 10, 71, 73, 92, 54, 0, 28, 64, 82, 75, 41, 36, 62, 81, 15, 22, 44, 66, 96, 74, 11, 95, 67, 30}
for i in list_to_remove:
    if i in set1:
        set1.remove(i)
        
print(set1)

{0, 3, 4, 6, 7, 10, 12, 13, 15, 16, 18, 22, 23, 24, 26, 28, 30, 34, 35, 36, 38, 40, 42, 43, 44, 46, 47, 48, 50, 52, 53, 54, 55, 57, 58, 60, 62, 63, 64, 65, 66, 67, 68, 70, 72, 73, 74, 75, 76, 77, 78, 80, 82, 84, 85, 87, 90, 92, 93, 95, 96, 97, 98}