## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [6]:
sample_list_1 = random.sample(range(0,100),80)
print(sample_list_1)

[65, 56, 87, 35, 77, 89, 99, 67, 32, 37, 36, 69, 93, 33, 74, 49, 43, 73, 22, 5, 59, 34, 47, 62, 44, 7, 27, 20, 3, 82, 52, 8, 31, 28, 39, 64, 58, 0, 6, 75, 12, 50, 38, 80, 2, 92, 54, 25, 78, 10, 70, 53, 66, 91, 83, 57, 17, 79, 30, 40, 15, 81, 95, 84, 90, 60, 9, 11, 26, 86, 45, 71, 51, 55, 13, 76, 4, 23, 48, 18]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [11]:
set1 = set(sample_list_1)
print(type(set1))
print(len(set1))
#yes, they still have the same length

<class 'set'>
80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [40]:
for i in range(1):
    sample_list_2 = random.sample(range(0,100),80)
    print(sample_list_2)

[16, 98, 90, 75, 91, 81, 89, 95, 78, 35, 14, 5, 83, 37, 24, 69, 21, 53, 22, 73, 96, 45, 26, 56, 15, 20, 63, 38, 57, 8, 0, 86, 31, 33, 97, 59, 51, 40, 76, 84, 49, 30, 62, 44, 79, 80, 27, 85, 54, 36, 7, 48, 28, 82, 23, 65, 60, 10, 92, 29, 68, 2, 17, 11, 87, 34, 70, 4, 74, 88, 77, 99, 6, 42, 25, 47, 71, 72, 50, 12]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [42]:
set2 = set(sample_list_2)
print(type(set2))
print(len(set2))
#yes, the length is still 80.

<class 'set'>
80

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [44]:
set3 = set1.difference(set2)
print(set3)

{32, 64, 66, 3, 67, 39, 9, 43, 13, 18, 52, 55, 58, 93}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [45]:
set4 = set2.difference(set1)
print(set4)

{96, 97, 98, 68, 72, 42, 14, 16, 21, 85, 24, 88, 29, 63}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [46]:
set5 = set1.intersection(set2)
print(set5)

{0, 2, 4, 5, 6, 7, 8, 10, 11, 12, 15, 17, 20, 22, 23, 25, 26, 27, 28, 30, 31, 33, 34, 35, 36, 37, 38, 40, 44, 45, 47, 48, 49, 50, 51, 53, 54, 56, 57, 59, 60, 62, 65, 69, 70, 71, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 86, 87, 89, 90, 91, 92, 95, 99}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [ ]:
# no s√© hacerlo.

#### Create an empty set called `set6`.

In [49]:
set6 = {()}
print(type(set6))

<class 'set'>

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [53]:
set6.update(set3, set5)
print(set6)

{0, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 15, 17, 18, 20, 22, 23, 25, 26, 27, 28, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 43, 44, 45, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 62, 64, 65, 66, 67, 69, 70, 71, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 86, 87, 89, 90, 91, 92, 93, 95, 99, ()}

#### Check if `set1` and `set6` are equal.

In [54]:
if set1 == set6:
    print ("Equal")
else:
    print("Non equal")

Non equal

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [57]:
print(set1.issubset(set2))
print(set1.issubset(set3))

False
False

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [63]:
set7 = set3.union(set4,set5)
print(set7)
set8 = set7.union(set1,set2)
print(set8)
if set7 == set8:
      print ("Equal")
else:
    print("Non equal")

{0, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 42, 43, 44, 45, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 95, 96, 97, 98, 99}
{0, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 42, 43, 44, 45, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 95, 96, 97, 98, 99}
Equal

#### Using the `pop` method, remove the first element from `set1`.

In [71]:
set1_without_first = set1.pop(0)
print(set1_without_first)

# no s√© c√≥mo hacerlo

TypeError: pop() takes no arguments (1 given)

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [70]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

for i in list_to_remove:
    if i in set1:
        set1.remove(i)
print(set1)

{2, 3, 4, 5, 6, 7, 8, 10, 12, 13, 15, 17, 18, 20, 22, 23, 25, 26, 27, 28, 30, 32, 33, 34, 35, 36, 37, 38, 40, 43, 44, 45, 47, 48, 50, 52, 53, 54, 55, 56, 57, 58, 60, 62, 64, 65, 66, 67, 70, 73, 74, 75, 76, 77, 78, 80, 82, 83, 84, 86, 87, 90, 92, 93, 95}