## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [92]:
sample_list_1 = random.sample(range(100), k=80)
print(sample_list_1)

[87, 41, 14, 61, 68, 54, 27, 51, 15, 84, 6, 82, 20, 25, 16, 35, 83, 9, 74, 36, 89, 94, 63, 19, 26, 62, 49, 37, 45, 31, 23, 73, 81, 88, 67, 66, 59, 52, 48, 28, 11, 12, 53, 58, 29, 79, 22, 86, 57, 64, 42, 38, 39, 71, 72, 46, 30, 70, 69, 10, 21, 93, 0, 60, 18, 13, 43, 65, 47, 17, 40, 1, 92, 80, 8, 90, 3, 78, 5, 77]

In [93]:
len(sample_list_1)

80

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [94]:
# Your code here
set1 = set(sample_list_1)
print(set1)

{0, 1, 3, 5, 6, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 25, 26, 27, 28, 29, 30, 31, 35, 36, 37, 38, 39, 40, 41, 42, 43, 45, 46, 47, 48, 49, 51, 52, 53, 54, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 77, 78, 79, 80, 81, 82, 83, 84, 86, 87, 88, 89, 90, 92, 93, 94}

In [95]:
len(set1)

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [89]:
sample_list_2 = []
for i in range(80):
    n = random.randint(0,100)
    sample_list_2.append(n)
print(sample_list_2)

[26, 76, 0, 49, 50, 40, 74, 86, 83, 2, 24, 57, 38, 85, 71, 40, 26, 74, 75, 21, 20, 17, 47, 75, 37, 2, 38, 56, 93, 28, 36, 37, 86, 54, 1, 3, 52, 32, 96, 13, 89, 26, 98, 65, 66, 89, 17, 11, 18, 54, 81, 70, 45, 93, 76, 32, 48, 97, 25, 49, 95, 98, 7, 1, 57, 25, 53, 5, 79, 33, 99, 68, 80, 77, 79, 32, 40, 14, 38, 47]

In [90]:
len(sample_list_2)

80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [91]:
# Your code here
set2 = set(sample_list_2)
print(set2)

{0, 1, 2, 3, 5, 7, 11, 13, 14, 17, 18, 20, 21, 24, 25, 26, 28, 32, 33, 36, 37, 38, 40, 45, 47, 48, 49, 50, 52, 53, 54, 56, 57, 65, 66, 68, 70, 71, 74, 75, 76, 77, 79, 80, 81, 83, 85, 86, 89, 93, 95, 96, 97, 98, 99}

In [88]:
len(set2)

57

In [ ]:
# set2 not the same lenght as sample_list_2

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [96]:
# Your code here
set3 = set1.difference(set2)
print(set3)

{6, 8, 9, 10, 12, 15, 16, 19, 22, 23, 27, 29, 30, 31, 35, 39, 41, 42, 43, 46, 51, 58, 59, 60, 61, 62, 63, 64, 67, 69, 72, 73, 78, 82, 84, 87, 88, 90, 92, 94}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [97]:
# Your code here
set4 = set2.difference(set1)
print(set4)

{32, 33, 2, 96, 97, 98, 99, 7, 75, 76, 50, 85, 24, 56, 95}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [98]:
# Your code here
set5 = set1.intersection(set2)
print(set5)

{0, 1, 3, 5, 11, 13, 14, 17, 18, 20, 21, 25, 26, 28, 36, 37, 38, 40, 45, 47, 48, 49, 52, 53, 54, 57, 65, 66, 68, 70, 71, 74, 77, 79, 80, 81, 83, 86, 89, 93}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [103]:
# Your code here
print(len(set1),len(set2),len(set3),len(set4),len(set5))

80 55 40 15 40

In [104]:
len(set1) == len(set3) + len(set5)

True

In [105]:
len(set2) == len(set3) + len(set4)

True

#### Create an empty set called `set6`.

In [107]:
# Your code here
set6 = set()
print(set6)

set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [111]:
set6.update(set3,set5)
print(set6)

{0, 1, 3, 5, 6, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 25, 26, 27, 28, 29, 30, 31, 35, 36, 37, 38, 39, 40, 41, 42, 43, 45, 46, 47, 48, 49, 51, 52, 53, 54, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 77, 78, 79, 80, 81, 82, 83, 84, 86, 87, 88, 89, 90, 92, 93, 94}

In [112]:
len(set6)

80

#### Check if `set1` and `set6` are equal.

In [113]:
# Your code here
set1 == set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [114]:
# Your code here
set1.issubset(set2)

False

In [115]:
set1.issubset(set3)

False

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [123]:
# Your code here
set7 = set3.union(set4, set5)
print(set7)

{0, 1, 2, 3, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 35, 36, 37, 38, 39, 40, 41, 42, 43, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 92, 93, 94, 95, 96, 97, 98, 99}

In [126]:
set8 = set7.union(set1, set2)
print(set8)

{0, 1, 2, 3, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 35, 36, 37, 38, 39, 40, 41, 42, 43, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 92, 93, 94, 95, 96, 97, 98, 99}

In [127]:
set7 == set8

True

#### Using the `pop` method, remove the first element from `set1`.

In [122]:
# Your code here 
set1.pop(0)
# I can´t do this because for sets you cannot indicate the parameter i want to remove, it only allows you to take the final one

TypeError: set.pop() takes no arguments (1 given)

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [130]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
for i in list_to_remove:
    set1.discard(i)
print(set1)

{0, 3, 5, 6, 8, 10, 12, 13, 14, 15, 16, 17, 18, 20, 22, 23, 25, 26, 27, 28, 30, 35, 36, 37, 38, 40, 42, 43, 45, 46, 47, 48, 52, 53, 54, 57, 58, 60, 62, 63, 64, 65, 66, 67, 68, 70, 72, 73, 74, 77, 78, 80, 82, 83, 84, 86, 87, 88, 90, 92, 93, 94}